#main-header {
  margin: 0 0 50px;
}

#main-header h1 {
  width: 1336px;
  margin: 0 auto 0;
  padding: 10px 0 0;
  z-index: 100;

  font-size: 36px;
  line-height: 50px;
}

#main-header h1 a {
  text-decoration: none;
  color: #000;
}

#main-header nav {
  width: 100%;
  margin: 0 auto 0;
  height: 50px;
  position: fixed;
  z-index: 3;
  background-color: #888;
  -webkit-box-shadow: 0px 6px 20px -6px;
  -moz-box-shadow: 0px 6px 20px -6px;
  box-shadow: 0px 6px 20px -6px;
}

#main-header nav ul {
  width: 1336px;
  margin: 0 auto 0;
}

#main-header nav li {
  display: inline-block;
}

#main-header nav li a {
  display: block;
  padding: 13px 20px 13px;
  background-color: #888;
  
  text-decoration: none;
  font-size: 24px;
  color: #FFF;
}

#main-header nav li a:hover {
  background-color: #444l;
  color: #0F0;
}