<header id="header">
  <h1><a href="/">Gene Nakagaki</a></h1>

  <div class="nav-wrapper" top-fixed-scroll>
    <div class="nav-container clearfix">
      <nav>
        <ul>
          <li ng-repeat="navLink in navLinkList">
            <a ng-href="{{navLink.url}}">
              {{navLink.name}}
            </a>
          </li>
        </ul>
      </nav>

      <ul class="ext-link-list">
        <li ng-repeat="extLink in extLinkList">
          <a ng-href="{{extLink.url}}" target="_blank">
            <img ng-src="{{extLink.img}}" 
              width="40" height="40"
              alt="{{extLink.name}}">
          </a>
        </li>
      </ul>
    </div><!-- nav-container -->
  </div><!-- nav-wrapper -->
</header>